<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Produtos</title>
        <script type="text/javascript" src="https://www.simplify.com/commerce/simplify.pay.js"></script>
    </head>
    <body style = "background-color: #DCDCDC;">
        <br>
    <!-- Primeiro Produto -->
        <div style =
        "max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        width:50%;
        align-content: center;
        position: relative;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        border-radius: 10px">
            <h1 style =
            "font-family: Roboto, Helvetica, Arial, sans-serif;
            font-weight: 100;
            color: #777">
            Produto Teste #1
            </h1>
            <h3 style =
            "font-family: Roboto, Helvetica, Arial, sans-serif;
            font-weight: 100;
            color: #777">
            Descrição do Produto Teste #1
            </h3>
            <div style = "text-align:right">
                <button
                data-sc-key="sbpb_MDk1MDdhNWItZjM3My00NjIwLWI0MTUtYWEwMjljNmQzOWM2"
                data-name="Produto Teste #1"
                data-description="Breve Descrição do Produto Teste #1"
                data-reference=""
                data-amount="1290"
                data-color="#00BFFF">
                Comprar
                </button>
            </div>
        </div>
        <br>
    <!-- Segundo Produto -->
        <div style =
        "max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        width:50%;
        align-content: center;
        position: relative;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        border-radius: 10px">
            <h1 style =
            "font-family: Roboto, Helvetica, Arial, sans-serif;
            font-weight: 100;
            color: #777">
            Produto Teste #2
            </h1>
            <h3 style =
            "font-family: Roboto, Helvetica, Arial, sans-serif;
            font-weight: 100;
            color: #777">
            Descrição do Produto Teste #2
            </h3>
            <div style = "text-align:right">
                <button
                data-sc-key="sbpb_MDk1MDdhNWItZjM3My00NjIwLWI0MTUtYWEwMjljNmQzOWM2"
                data-name="Produto Teste #2"
                data-description="Breve Descrição do Produto Teste #2"
                data-reference=""
                data-amount="1669"
                data-color="#00BFFF">
                Comprar
                </button>
            </div>
        </div>
        <br>   
    <!-- Terceiro Produto -->
        <div style =
        "max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        width:50%;
        align-content: center;
        position: relative;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        border-radius: 10px">
            <h1 style =
            "font-family: Roboto, Helvetica, Arial, sans-serif;
            font-weight: 100;
            color: #777">
            Produto Teste #3
            </h1>
            <h3 style =
            "font-family: Roboto, Helvetica, Arial, sans-serif;
            font-weight: 100;
            color: #777">
            Descrição do Produto Teste #3
            </h3>
            <div style = "text-align:right">
                <button
                data-sc-key="sbpb_MDk1MDdhNWItZjM3My00NjIwLWI0MTUtYWEwMjljNmQzOWM2"
                data-name="Produto Teste #3"
                data-description="Breve Descrição do Produto Teste #3"
                data-reference=""
                data-amount="3250"
                data-color="#00BFFF">
                Comprar
                </button>
            </div>
        </div>
        <br>    
    </body>
</html>
